<section id="register">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Register</h1>
        <form  #profileForm ="ngForm" (ngSubmit)="onSubmit(profileForm)"> 

          <div class="form-group">
            <label for="username">Username</label>
            <input  type="text" 
                    #nameRef="ngModel"
                    minlength="4" 
                    maxlength="30" 
                    required name="username"
                    class="form-control" 
                    id="username"
                    ngModel> <!--JMU5 uses built in validation directive:  required, minlength and maxlength-->
            <div  class="alert alert-danger" [hidden]="nameRef.valid || nameRef.pristine">  <!--//JMU5 uses refrence to locate for control of what appears when invalid-->
                Name required
            </div>
          </div><!--END OF  form group-->
          <br>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" 
                   #emailRef="ngModel" 
                   pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" 
                   name="email"
                   class="form-control"
                   id="email" 
                   ngModel> <!--//JMU5 makes refrence model to locate and control what appears when invalid. Uses built in  pattern directive-->
            <div  class="alert alert-danger" [hidden]="emailRef.valid || emailRef.pristine">  <!--//JMU5 uses refrence to locate for control of what appears when invalid-->
                Email Incorrect Format
            </div>
          </div>
            
          <br>
            <div ngModelGroup = 'passCompare' [mustMatch]="['password', 'confPass']">

              <div class="form-group">
                <label for="passwordConfirmation">Confirm Password</label>
                <input type="password" 
                        name="password"
                        class="form-control"
                        id="password" 
                        ngModel>
              </div>
              <br>
              <div class="form-group">
              <label for="passwordConfirmation">Confirm Password</label>
                <input type="password"  
                       #passRef="ngModel"  
                       name="confPass"
                       class="form-control"
                       id="passwordConfirmation" 
                       ngModel> <!--//JMU5 makes refrence model to locate and control what appears when invalid-->
                </div>
              <div  class="alert alert-danger" [hidden]="passRef.valid || passRef.pristine"> <!--//JMU5 uses refrence to locate for control of what appears when invalid-->
                  <div *ngIf="passRef.errors">Passwords must match</div> <!--//JMU5 if there are errors display this message-->
              </div> 
            </div>
            
          <br>
          <button  class="btn btn-bwm"[disabled]="profileForm.form.errors" type="submit">Submit</button> 
      </form>
      <div *ngIf="errors.length > 0" class="alert alert-danger">
        <p *ngFor="let error of errors">
            {{error.detail}}
        </p>
      
    </div>
      </div><!--end of col-md-5-->
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">As our member you have access to most awesome places in the world.</h2>
          <img src="assets/images/register-image.jpg" alt="">
        </div>
      </div>

    </div><!--end of Row-->
  </div><!--end of bwm-form-->
</section>