<form [ngClass]= "isValidatingCard ? 'loading' : ''  ">
    <h6>To test process on this demo, use this card Number '4000056655665556'</h6>
    <div class='group' id='group' >
        <label>
        <span>Card Number</span>
        <div #cardNumber class='field'></div>
        </label>

        <label>
        <span>Expire Date</span>
        <div #cardExp class='field'></div>
        </label>

        <label>
        <span>CVC</span>
        <div #cardCvc class='field'></div>
        </label>
        
        
    </div>
    <div class='outcome'>
    <div *ngIf='error' class='error'>
    {{error}}
    </div>
    <div *ngIf="token"class='success alert alert-success'>
    Card Accepted Successfuly!
    </div>
    </div>
    
    <button [disabled] = "!isCardValid()" (click)="onSubmit()" type ='button' >Submit, You will not be charged yet</button>
</form>





