<section id="resetPassword">

    <div class="bwm-form">
      <div class="row">
        <div class="col-md-5">
          <h1 class="page-title">Reset Your Password</h1>
         

            <!--/tab-pane-->
            
                <form #passwordForm="ngForm">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input [(ngModel)]="formData.newPassword" 
                                name ="newPassword" 
                                type="password" 
                                class="form-control" 
                                id="newPassword"
                                autocomplete="off"
                                required>
                </div>
                <div class="form-group">
                  <label for="passwordConfirmation">Confirm Password</label>
                  <input [(ngModel)]="formData.passwordConfirmation" 
                                name ="passwordConfirmation" 
                                type="password" 
                                class="form-control" 
                                id="passwordConfirmation"
                                required>
                </div>

                <button [disabled]="!passwordForm.form.valid" (click)="getPassChangeAuth()" 
                        type="submit" 
                        class="btn btn-bwm">Submit</button>
                </form>
                <div *ngIf="errors.length > 0" class="alert alert-danger">
                    <p *ngFor="let error of errors">
                        {{error.detail}}
                    </p>
                
                </div>
         



        </div>
  
        <div class="col-md-6 ml-auto">
          <div class="image-container">
            <h2 class="catchphrase">As our member you have access to most awesome places in the world.</h2>
            <img src="assets/images/register-image.jpg" alt="">
          </div>
        </div>
  
      </div>
    </div>
  
  </section>
