


    .stylish-color-dark{
        background-color: #3e4551!important;
    }
    .unique-color-dark{
        background-color: #1c2331!important;
    }
    .page-footer {
        bottom: 0;
        color: #fff;
    }

    a.waves-effect, a.waves-light {
        display: inline-block;
    }
    .btn-rounded {
        border-radius: 10px;
    }
    .btn-outline-white {
        border: 2px solid #fff!important;
        background-color: transparent!important;
        color: #fff!important;
    }
    a:hover{
        text-decoration: none;
    }
    a{
        color:white;
    }



