<!-- changed from rental-detail works! {{currentId}}    displays  current page id-->
<section id="rentalDetails" *ngIf="rental">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{rental.image}}" alt="">
      </div>
      <div class="col-md-6">
        <!-- Will be replaced with map !!!! -->
        <bwm-map [location]="rental.city +', '+ rental.street"></bwm-map>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="rental">

          <div class="rental-owner" >
            <a routerLink="/users/owner/{{rental.userp._id}}">
              <img *ngIf="rental.user.image" src="{{rental.user.image}}" alt="">
              <img *ngIf="!rental.user.image" src="assets/images/adorable.png"  alt="">
              <span>{{rental.user.username}}</span>
            </a>
          </div>
          <h2 class="rental-type {{rental.category}}">{{rental.shared ? 'Shared' : 'Whole'}} {{rental.category}}</h2>
          <h1 class="rental-title">{{rental.title}}</h1>
          <h2 class="rental-city">{{rental.city | ucwords}}</h2>
          <div class="rental-room-info">
            <span><i class="fa fa-building"></i>{{rental.bedrooms}} bedrooms</span>
            <span><i class="fa fa-user"></i> {{rental.bedrooms + 4}} guests</span>
            <span><i class="fa fa-bed"></i> {{rental.bedrooms + 2}} beds</span>
          </div>
          <p class="rental-description">
            {{rental.description}}
          </p>
          <hr>
          <div class="rental-assets">
            <h3 class="title">Assets</h3>
            <div class="row">
              <div class="col-md-6">
                <span><i class="fa fa-asterisk"></i> Cooling  <i *ngIf="rental.anemities.includes('cooling')"class="fa fa-check" style="color:green" aria-hidden="true"></i> </span>
                <span><i class="fa fa-thermometer"></i> Heating  <i *ngIf="rental.anemities.includes('heating')"class="fa fa-check" style="color:green" aria-hidden="true"></i></span>
                <span><i class="fa fa-location-arrow"></i> Iron  <i *ngIf="rental.anemities.includes('iron')"class="fa fa-check" style="color:green" aria-hidden="true"></i></span>
              </div>
              <div class="col-md-6">
                <span><i class="fa fa-desktop"></i> Working area  <i *ngIf="rental.anemities.includes('office')"class="fa fa-check" style="color:green" aria-hidden="true"></i></span>
                <span><i class="fa fa-cube"></i> Washing machine  <i *ngIf="rental.anemities.includes('washing-machine')"class="fa fa-check" style="color:green" aria-hidden="true"></i></span>
                <span><i class="fa fa-cube"></i> Dishwasher <i *ngIf="rental.anemities.includes('dishwasher')"class="fa fa-check" style="color:green" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <bwm-rental-detail-booking [rental] = "rental">
        </bwm-rental-detail-booking>
      </div>
    </div>
  </div>
</section>