

.form-group{

    &:nth-child(9){
        width: 40px;
    }
    &:nth-child(5){
        input{
            padding: 3px;  
        }
    }

}

.padding-new{
    padding: 10px 0px 0px 0px;
    
}
.right{
    position:relative;
    float:right;
}