<div class="booking">
  <h3 class="booking-price">${{rental.dailyRate}} <span class="booking-per-night">per night</span></h3>
  <hr>
<ng-container *ngIf="auth.isAuthenticated()">
<form #bookingForm="ngForm">
  <label>Dates</label>
  <!-- JMU
    <input type="text" class="form-control daterangepicker-input" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)"
     />-->
   
     <form class="row row-cols-sm-auto">
      <div class="col-12">
        <div class="dp-hidden position-absolute">
          <div class="input-group">
            <input
              name="datepicker"
             
              class="form-control"
              ngbDatepicker
              #datepicker="ngbDatepicker"
              [autoClose]="'outside'"
              (dateSelect)="onDateSelection($event)"
              [displayMonths]="2"
             
              [dayTemplate]="t"
              outsideDays="hidden"
              [startDate]="fromDate!"
              tabindex="-1"
              [minDate]="{year: 2022, month: 12, day: 25}"
              [footerTemplate]="footerTemplate"
              
             />
           
            <ng-template #t let-date let-focused="focused">
              <span
                class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                [class.invalid]="isInvalid(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              
              >
                {{ date.day }}
              </span>
            </ng-template>
              <ng-template #footerTemplate>
                
                <hr class="my-0" />
                <button
                  class="btn btn-secondary btn-sm m-2 float-start"
                  (click)="resetDatePicker()"
                >
                  Reset
                </button>
                <button class="btn btn-primary btn-sm m-2 float-end" (click)="datepicker.toggle()">
                  Done
                </button>
               
              </ng-template>
              
          </div>
        </div>
        <div class="input-group">
          <input
            #dpFromDate
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dpFromDate"
            [value]="formatter.format(fromDate)"
            (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
            
          />
          <button class="btn btn-outline-secondary bi bi-calendar3" 	 (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
      <div class="col-12">
        <div class="input-group">
          <input
            #dpToDate
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dpToDate"
            [value]="formatter.format(toDate)"
            (input)="toDate = validateInput(toDate, dpToDate.value)"/>
          <button class="btn btn-outline-secondary bi bi-calendar3"placement="bottom" (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
    </form>
    <hr />
    <!--<pre>From date model: {{ fromDate | json }}</pre>
    <pre>To date model: {{ toDate | json }}</pre>-->
   
  
  <div class="form-group">
    <label for="guests">Guests</label>
    <input
      [(ngModel)]="newBooking.guests"
       name="guests"
       type="number"
       class="form-control"
       id="guests"
       aria-describedby="emailHelp"
      required>
  </div>
</form>
  <button (click)="openConfirmModal(content)"  [disabled]="!bookingForm.form.valid || !newBooking.startAt || !newBooking.endAt"  class="btn btn-danger btn-confirm btn-block">Reserve place now</button>
  <hr>
</ng-container>
<div  *ngIf="!auth.isAuthenticated()" class="should-login">
<a routerLink="/login" >Login and book this place today</a>
</div>
  <p class="booking-note-title">People are interested in this house</p>
  <p class="booking-note-text">
    More than 500 people checked this rental in last month.
  </p>
</div>

<ng-template #content let-c="close" let-d="dismiss">
<div class="modal-header">
  <h4 class="modal-title">Confirm Booking<p>{{newBooking.startAt}} to {{newBooking.endAt}}</p></h4>
  
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <em>{{newBooking.days}}</em> nights /
    $<em>{{rental.dailyRate}}</em> per Night
    <p>Guests: <em>{{newBooking.guests}}</em></p>
    <p>Price: $<em>{{newBooking.totalPrice}}</em></p>
    <!--// when paymentConfirmed is emitted then it starts onPaymentConfirmed function in the  parent ts file  rental-detail-booking.component.ts-->
    <p>To test process on this demo, use this card Number:</p>
    <p> 4000 0000 0000 0077</p>
<bwm-payment (paymentConfirmed)='onPaymentConfirmed($event)'></bwm-payment>

    <p>Do you confirm booking for selected days?</p>
</div>
<div *ngIf="errors.length > 0" class="alert-danger modal-error">
  <p *ngFor="let error of errors">
    {{error.detail}}
  </p>
</div>
<div class="modal-footer">
  <button [disabled]="!newBooking.paymentToken" type="button" class="btn btn-bwm" (click)="createBooking()">Confirm</button>
  <button type="button" class="btn btn-bwm" (click)="c('Close click')">Close</button>
</div>
</ng-template>